{% extends "bases/base_productos.html" %}
{% block content2 %}
<div>
	{% for p in productos %}
	<h2>{{ p.nombre }}</h2>
	<a href="{{ MEDIA_URL }}MostrarProducto/{{ p.slug }}">
		<img class="imagenes"
			{% if p.imagen1 %}
				src="{{ p.imagen.url }}" 
			{% else %} 
				src="{{ MEDIA_URL }}media/imagenes/interrogacion.jpg"
			{% endif %}
			align="left" width="103" height="80" style="margin-right:10px"></a>
	{{ p.tipo|truncatewords:"20"|linebreaks|ljust:"100"}}
	Precio: {{ p.precio}}
	<p>&nbsp;</p>
	{% endfor %}
</div>
{% endblock %}
