<!--
        THIS PROGRAM IS FREE SOFTWARE; YOU CAN REDISTRIBUTE IT AND/OR MODIFY
        IT UNDER THE TERMS OF THE GNU GENERAL PUBLIC LICENSE AS PUBLISHED BY
        THE FREE SOFTWARE FOUNDATION; EITHER VERSION 2 OF THE LICENSE, OR
        (AT YOUR OPTION) ANY LATER VERSION.
        
        THIS PROGRAM IS DISTRIBUTED IN THE HOPE THAT IT WILL BE USEFUL,
        BUT WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF
        MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.  SEE THE
        GNU GENERAL PUBLIC LICENSE FOR MORE DETAILS.
        
        YOU SHOULD HAVE RECEIVED A COPY OF THE GNU GENERAL PUBLIC LICENSE
        ALONG WITH THIS PROGRAM; IF NOT, WRITE TO THE FREE SOFTWARE
        FOUNDATION, INC., 51 FRANKLIN STREET, FIFTH FLOOR, BOSTON,
        MA 02110-1301, USA.
-->
        

<HTML>

<HEAD>

<LINK REL="stylesheet" HREF="css/enlaces.css" TYPE="text/css">
<script language="javascript" type="text/javascript" src="./js/bienvenida.js"></script>
</HEAD>

<BODY TOPMARGIN="0" LEFTMARGIN="0" RIGHTMARGIN="0" BOTTOMMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" BGCOLOR="#FFFFF">
	

<TABLE BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="0" BGCOLOR="#4682B4">
  <TR>
    <TD WIDTH="100%"><FONT FACE="ARIAL BLACK" SIZE="6" COLOR="#FFFFFF">Jesús Pereira</FONT></TD>
  </TR>
</TABLE>
<TABLE BORDER="0" WIDTH="100%" BGCOLOR="#000000" CELLSPACING="0" CELLPADDING="0">
  <TR>
    <TD WIDTH="100%"><FONT COLOR="#FFFFFFF" FACE="ARIAL" SIZE="2"><B>WWW.JESUSPEREIRA.COM</B></FONT></TD>
  </TR>
</TABLE>
<TABLE BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="0" ALIGN="center">
  <TR>
    <TD WIDTH="20%" BGCOLOR="#4682B4" VALIGN="TOP">&nbsp;
      <P STYLE="MARGIN-LEFT: 20"><B><FONT FACE="ARIAL" SIZE="2" COLOR="#FFFFFF">
		  
		<P STYLE="MARGIN-LEFT: 20"><A HREF="index.html">INICIO</A></P>
		<P STYLE="MARGIN-LEFT: 20"><A HREF="./html/noticias.html">NOTICIAS</A></P>
		<P STYLE="MARGIN-LEFT: 20"><A HREF="./html/interesantes.html">ENLACES INTERESANTES</A></P>
		<P STYLE="MARGIN-LEFT: 20"><A HREF="./html/acerca_de.html">ACERCA DE</A></FONT></B></P>
      <P>&nbsp;</P>
      <P>&nbsp; </P>
      <P>&nbsp;</P>
      <P>&nbsp; </P>
      <P>&nbsp;</TD>
    <TD WIDTH="60%" VALIGN="TOP">
      <BLOCKQUOTE>
        <P><BR>
        <FONT FACE="arial" SIZE="5">BIENVENIDO A MI PÁGINA WEB </FONT></P>
        <P><FONT SIZE="2" FACE="arial">Esta es una página de prueba para la asignatura multimedia, conforme pase el curso iré
        rellenándola de más información.<BR>
        </FONT></P>
        <P><FONT FACE="arial" SIZE="5">FUNCIONES DE LA PÁGINA</FONT></P>
        <P><FONT SIZE="2" FACE="arial">Esta página web, como puedes observar, está compuesta por este inicio (Donde os damos la bienvenida) y a la izquierda está el menú para ir a diferentes secciones de este sitio web.<P>
        Dicho menú consiste en:
        <UL>
			
        <LI>INICIO: Es esta página que se te está mostrando.
        <LI>NOTICIAS: Nos lleva a ciertas noticias que me han llamado la atención.
		<LI>ENLACES INTERESANTES: Conjunto de enlaces que creo interesantes con sus respectivas descripciones.
		<LI>ACERCA DE: Nos dá información acerca de que es esta página y quién soy.
		</UL>
		Por otro lado a la derecha tenemos una noticia relevante de los últimos días y una frase de interés, esta frase podría ir con alguna temática que sea importante en un momento dado o
		simplemente una frase interesante.
         </FONT></P>
        <P>&nbsp;</P>
        <P>&nbsp;</P>
        <P>&nbsp;</P>
      </BLOCKQUOTE>
      <P ALIGN="center"><FONT FACE="arial" SIZE="1">COPYLEFT 2011</FONT></TD>
    <TD WIDTH="20%" VALIGN="TOP">
      <TABLE BORDER="0" WIDTH="100%" BGCOLOR="#4682B4" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="100%"><CENTER><B><FONT FACE="arial" SIZE="2" COLOR="#FFFFFF">NOTICIA INTERESANTE</FONT></B></TD></CENTER>
        </TR>
      </TABLE>
      <TABLE BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="100%" BGCOLOR="#FFF2F8"><BR>
				<center><A HREF="http://www.publico.es/internacional/409066/demostracion-de-fuerza-popular-en-tahrir-contra-los-militares-egipcios" TARGET="_blank" ><IMG ALIGN="middle" WIDTH="103" HEIGHT="80" SRC="./img/plazacairo.jpg" ALT="Plaza del Cairo"></IMG></A>
				<P><FONT SIZE="2" FACE="arial">La simbólica plaza de El Cairo vive la mayor concentración de manifestantes desde la caída del dictador Mubarak.<P></P></FONT></center>
            &nbsp;</TD>
        </TR>
      </TABLE>
      <TABLE BORDER="0" WIDTH="100%" BGCOLOR="#4682B4" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="100%"><CENTER><B><FONT FACE="arial" SIZE="2" COLOR="#FFFFFF">FRASE INTERESANTE</FONT></B></CENTER></TD>
        </TR>
      </TABLE>
      <TABLE BORDER="0" WIDTH="100%" BGCOLOR="#DFFFDF" CELLSPACING="0" CELLPADDING="0">
        <TR>
          <TD WIDTH="100%" BGCOLOR="#FFF2F8"><BR>
				<center><IMG ALIGN="middle" WIDTH="103" HEIGHT="132" SRC="./img/albert-einstein.jpg" ALT="Albert Einstein">
				<P><FONT SIZE="2" FACE="arial">Todos somos muy ignorantes, lo que ocurre es que no todos ignoramos las mismas cosas.<BR></center>
            &nbsp;</FONT></TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
</TABLE>
<TABLE BORDER="0" WIDTH="100%" BGCOLOR="#000000" CELLSPACING="0" CELLPADDING="0">
  <TR>
    <TD WIDTH="100%"><FONT SIZE="1">&nbsp;</FONT></TD>
  </TR>
</TABLE>

</BODY>

</HTML>
