
<!DOCTYPE HTML>

<html>
<head>
	<title>titulo</title>
	<meta charset="utf-8" />
	<style type="text/css">
		
	</style>
	
</head>

<body>

<body>
	
<section>
  <h1>HTML5 Paso a paso</h1> 
  <section>
    <h2>Introducción</h2>
    <p>En este capitulo haremos una introducción ....</p>
  </section>
  <section>
    <h2>Configuración inicial</h2>
    <p>La configuración inicial pasa por ...</p>
  </section>
  <aside>
    <p>Manuales de HTML5 complementarios</p>
  </aside>
</section>
<footer>
  <p>(c) HTML5 paso a paso. Aviso legal ...
</footer>
	
</body>
